.game_container {
    background: lightblue;
    height: 90vh;
    width: 100%;
    position: relative;
}

.shark {
    /* Makes the image not selectable */
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    /* Makes the image not selectable ^^^ */

    position: relative;


    animation: henry 2s linear infinite; /* Temporarily stopped it so I can test out the scores - Donald */

    top: 500px;

    /*Transform scale*/
     transform: scale(0.5);

    background: red; /*To see how big the shark is - Donald*/
}


@keyframes henry {
    0% {
        top:500px;
        left: 0px;
    }

    10% {
        top:  420px;
        left: 100px;
    }

    20% {
        top: 340px;
        left: 200px;
    }

    30% {
        top: 300px;
        left: 300px;
    }

    40% {
        top: 275px;
        left: 400px;
    }

    50% {
        top: 250px;
        left: 500px;
    }
    
    60% {
        top: 275px;
        left: 600px;
    }

    70% {
        top: 300px;
        left: 700px;
    }


    80% {
        top: 340px;
        left: 800px;
    }


    90% {
        top: 420px;
        left: 900px;
    }

    100% {
        top: 500px;
        left: 1000px;
    }
}




