body {
    margin: 0;
}

.title{
    position: relative;
    height: 10vh;
    font-family: Sniglet;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    text-align: center;
    color: #758F93;
    width: 100%;
    line-height: 10vh;
}

.game_container {
    background: #95ECFF;
    height: 90vh;
    width: 100%;
    position: relative;
    overflow: hidden;
    cursor: crosshair;
}

.shark {
    /* Makes the image not selectable */
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    /* Makes the image not selectable ^^^ */

    position: absolute;
    top: 300px;
    transform: scale(0.5);

    animation-name: shark_animation;
    animation-timing-function: linear;
    /* Uses JS to set animation duration */
}

@keyframes shark_animation {
    0% { top:300px; left: 0px;}
    10% {top:  220px;left: 100px;}
    20% {top: 140px;left: 200px;}
    30% {top: 100px;left: 300px;}
    40% {top: 75px;left: 400px;}
    50% {top: 50px;left: 500px;}
    60% {top: 75px;left: 600px;} 
    70% {top: 100px;left: 700px;}
    80% {top: 140px;left: 800px;} 
    90% {top: 220px;left: 900px;}
    100% {top: 300px;left: 1000px;}
}


.waterback {
    position: absolute;
    display: block;
    top: 14em;

    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    
    animation: wave 30s linear infinite;
    width: 300%;
    background: url("../images/waterback.png") repeat-x; 
    height: 100%;
    left: 120%;

}


.waterfront{
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    
    animation: wave 60s linear infinite;
    position: relative;
    top: 100%;
    width: 300%;
    margin-top: -300px;
    background: url("../images/waterfront.png") repeat-x; 
    height: 30%;
    left: 120%;
    z-index: 2;
}


/*

@keyframes wave {
  0% {
    transform: translate3d(-100%, 0, 0);
  }
  100% {
    transform: translate3d(0, 0, 0); /* The image width 
  }
}

*/


@keyframes wave {
  0% { left: 0; }
  100% { left: -100%; }
}


.game_stats_container {
    padding-left: 20px;
}

.stat {
    font-family: Sniglet;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 22px;
    display: flex;
    align-items: center;
    color: #000000;
}

.gameover {
    display: none;
}

.show_gameover {
    animation: gameover 0.4s linear;
    top: 200px;
    position: absolute;
    text-align:center;
    margin: 0 auto;
    display: block;
    width: 100%;
    z-index: 5;
}

@keyframes gameover {
  from {opacity: 0%; top:0px;}
  to {opacity: 100%; top:200px;}
}

.gameover_text {
    font-family: Sniglet;
    font-style: normal;
    font-weight: normal;
    padding: 0;
    font-size:6em;
}

.start_button {
    position: relative;
    font-family: Sniglet;
    font-style: normal;
    font-weight: normal;

    padding: 0px 20px;
    text-decoration: none;
    font-size: 2em;

    color: #758F93;
    border: 3px solid #FFFFFF;

    background: #FFD232;
    box-shadow: 0px 0px 24px -3px rgba(0, 0, 0, 0.25);
    border-radius: 40px;
}