





.start_button {

  position: relative;
  width: 191px;
  height: 75px;
  text-decoration: none;
  font-family: Sniglet;
  font-style: normal;
  font-weight: normal;
 
  font-size: 48px;
  line-height: 60px;
  display: flex;
  align-items: 50%;
  text-align: 50%;

  color: #758F93;

  border: 3px solid #FFFFFF;

  background: #FFD232;
  box-shadow: 0px 0px 24px -3px rgba(0, 0, 0, 0.25);
  border-radius: 41px;


 

}



.instruction {
  background: #FFFFFF;
  box-shadow: 0px 0px 24px -3px rgba(0, 0, 0, 0.25);
  border-radius: 13px;

  font-family: Sniglet;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;

  color: #000000;
  position: relative;
  width: 400px;
  height: 110px;

}


.shark_fact {
  background: #FFFFFF;
  box-shadow: 0px 0px 24px -3px rgba(0, 0, 0, 0.25);
  border-radius: 13px;

  position: relative;
  width: 670px;
  height: 22px;
  padding-left: 20px;

  font-family: Sniglet;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #000000;

 
    
}


.menu_container{
background: #6DA8FF;

position: relative;
width: 10000px;
height: 10000px;




}



