body {
    margin: 0;
}
.menu_container{
    background: #6DA8FF;
    position: relative;
    width: 100%;
    height: 100vh;

    overflow: hidden;
}

.start_button {
    position: relative;
    font-family: Sniglet;
    font-style: normal;
    font-weight: normal;
    display: block; /* Makes the button in the middle of the container */
    margin: 0 auto; /* Makes the button in the middle of the container */
    text-align: center;
    width: 200px;
    text-decoration: none;
    font-size: 3em;
    color: #FFFFFF;
    border: 3px solid #FFFFFF;
    background: #FFD232;
    box-shadow: 0px 0px 24px -3px rgba(0, 0, 0, 0.25);
    border-radius: 40px;
    transition: 0.3s;
    margin-top: 200px;
    
    z-index: 6;
}

.start_button:hover {
    background: #FFB72C;
    transform: scale(1.05);
    cursor: pointer;
}

.info_container {
    width: 800px;
    height: 40%;
    margin: 0 auto;
    display: block;
    margin-top: 20px;
    z-index: 6;
}

.leaderboard {
    position: relative;
    height: 250px;
    width: 330px;
    overflow-y: auto;
    background: #FFFFFF;
    box-shadow: 0px 0px 24px -3px rgba(0, 0, 0, 0.25);
    border-radius: 13px;

    float: left;
    z-index: 6;
}

.scroll::-webkit-scrollbar {
    width: 12px;
    right: 20px;
    position: relative;
}

.scroll::-webkit-scrollbar-track {
    background: Transparent;
}

.scroll::-webkit-scrollbar-thumb {
    background: #E0E0E0;
    border-radius: 13px;
}

.instruction {
    background: #FFFFFF;
    box-shadow: 0px 0px 24px -3px rgba(0, 0, 0, 0.25);
    border-radius: 13px;
    font-size: 18px;
    line-height: 35px;
    position: relative;
    width: 400px;
    height: 250px;

    float: right;
    z-index: 6;
}

.instruction_text {
    font-family: Sniglet;
    font-style: normal;
    font-weight: normal;
    font-size: 1em;
    text-align: left;
    color: #000000;
    position: relative;
    line-height: 1.4;
    padding-left: 10px;
}

.shark_fact {
    background: #FFFFFF;
    box-shadow: 0px 0px 24px -3px rgba(0, 0, 0, 0.25);
    border-radius: 13px;
    position: relative;
    width: 490px;
    height: 50px;
    margin: 0 auto;
    font-family: Sniglet;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;
    text-align: center;
    padding-left: 50px;
    color: #000000;
    top: 20px;
    z-index: 6;
}

.title {
    position: relative;
    z-index: 6;
    margin: 0 auto;
    top: 16%;
    font-family: Sniglet;
    font-style: normal;
    font-weight: normal;
    font-size: 100px;
    line-height: 100px;
    text-align: center;
    color: #89A7AB;
    text-shadow: -3px 0 #FFFFFF, 0 3px #FFFFFF, 3px 0 #FFFFFF, 0 -3px #FFFFFF;
}

.waterback {
    position: absolute;
    display: block;
    top: 50vh;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    
    animation: wave 30s linear infinite;
    width: 300%;
    background: url("../images/waterback.png") repeat-x; 
    height: 1000px;
    left: 120%;
}


@keyframes wave {
  0% { left: 0; }
  100% { left: -100%; }
}

.shark_image_container {
    position: relative;
    display: block;
    float: right;
    transform: scale(0.5);
    margin-top: -300px;
    animation-name: rotated;
    animation: rotated 3.5s linear infinite;
}

@keyframes rotated {
    0% { top:400px; right: 0px;}
    10% {top:  220px;right: 100px;}
    20% {top: 140px;right: 200px;}
    30% {top: 100px;right: 300px;}
    40% {top: 75px;right: 400px;}
    50% {top: 50px;right: 500px;}
    60% {top: 75px;right: 600px;} 
    70% {top: 100px;right: 700px;}
    80% {top: 140px;right: 800px;} 
    90% {top: 220px;right: 900px;}
    100% {top: 375px;right: 1000px;}
}

.melon {
animation-name: melon_rotate;
animation: melon_rotate 2s linear infinite;


}

@keyframes melon_rotate {
  from { transform: rotate(0deg);
  }


  to {
    transform: rotate(360deg);
  }
}



.splash {
    position: relative;
    display: block;
    left: -300px;
    top: -140px;

}


.leaderboard_txt{
    position: relative;
    font-family: Sniglet;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    text-align: center;
    color: #000000;
    margin-bottom: -10px;
}

.leaderboard_info {
    position: relative;
    width: 90%;
    height: 30px;
    padding-left: 10%;
    color: #000000;
    font-family: Sniglet;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 17px;
}

.placeholder {
    background: #FFFFFF;
    border: 1px solid #C7C7C7;
    box-sizing: border-box;
    border-radius: 16px;
}

/* --------- For the random spawning sharks --------- */
.shark {
    /* Makes the image not selectable */
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    /* Makes the image not selectable ^^^ */

    position: absolute;
    top: 480px;
    transform: scale(0.5);

    animation-name: shark_animation;
    animation-timing-function: linear;
    /* Uses JS to set animation duration */
    z-index: 0;
}

.left_shark {
    animation-name: left_shark_animation;
}

@keyframes left_shark_animation {
    0% { top:300px; left: 0px;}
    10% {top:  220px;left: 100px;}
    20% {top: 140px;left: 200px;}
    30% {top: 100px;left: 300px;}
    40% {top: 75px;left: 400px;}
    50% {top: 50px;left: 500px;}
    60% {top: 75px;left: 600px;} 
    70% {top: 100px;left: 700px;}
    80% {top: 140px;left: 800px;} 
    90% {top: 220px;left: 900px;}
    100% {top: 375px;left: 1000px;}
}

.right_shark {
    animation-name: right_shark_animation;
}

@keyframes right_shark_animation {
    0% { top:400px; right: 0px;}
    10% {top:  220px;right: 100px;}
    20% {top: 140px;right: 200px;}
    30% {top: 100px;right: 300px;}
    40% {top: 75px;right: 400px;}
    50% {top: 50px;right: 500px;}
    60% {top: 75px;right: 600px;} 
    70% {top: 100px;right: 700px;}
    80% {top: 140px;right: 800px;} 
    90% {top: 220px;right: 900px;}
    100% {top: 475px;right: 1000px;}
} 
/* --------- For the random spawning sharks ^^^ --------- */


@media only screen and (max-height: 800px) {
    .title {
        top: 10%;
    }
    .start_button {
        font-size: 3em;
        margin-top: 100px;
    }
    .shark {
        top: 440px;
    }
    .waterback {
        top: 40%;
        height: 1800px;
    }
}

@media only screen and (max-height: 650px) {
    .title {
        top: 10%;
    }
    .start_button {
        font-size: 2.5em;
        margin-top: 80px;
    }
    .shark {
        top: 400px;
    }
    .waterback {
        top: 28%;
        height: 1800px;
    }
}



