<!DOCTYPE html>
<html>
    <head>
        <link rel="icon" href="static/images/logo.png">

        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href='/static/css/game.css' />

        <!-- Adds the Sniglet font -->
        <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Sniglet" />
    
      
      </head>
        <title>Play - Shark Cult</title>
    </head>
    <body>

        <div class="title">Shark Cult</div> 

        <div class="game_container" id="game_container" onclick="hearts_used()">


            <div class="game_stats_container">
                <h1 class="stat highest_score">Highest score:&nbsp;<span id="highest_score">0</span></h1>

                <h1 class="stat"> Score:&nbsp;<span id="score">0</span></h1>
                <h1 class="stat"> Sharks tamed:&nbsp;<span id="tamed">0</span></h1>
                <h1 class="stat"> Missed:&nbsp;<span id="hearts">0</span>/10</h1>
            </div>

            
            <div class="gameover" id="gameover">
                <h1 class="gameover_text">Game over!</h1>
                <p class="gameover_score"><span id="score_text">Score:&nbsp;</span> <span id="gameover_score">0</span></p>
                </br>
                <a href="/game" class="start_button">Play again</a>
                
                <form action="/submit_score" method="POST">
                    <input type="number" id="submit_score" style="display:none;" name="user_score" required>
                    </br>

                    <label>Nickname: </label>
                    <input type="name" id="nickname" name="nickname" required>
                    <input type="submit" class="start_button" value="Join leaderboard!">
                </form>

            </div>
            

            <!--<img src="static/images/morningshark.png" class="shark" onclick="shark_clicked()" draggable="false" unselectable="on"/>-->
          
         
            <div class="waterback"></div>
            <div class="waterfront"></div>
        </div>


    </body>


    
      <script src="static/javascript/game.js"></script>


    
</html>