<!DOCTYPE html>
<html>
    <head>
      <head>
        <link rel="stylesheet"    href='/static/css/game.css' />
      </head>
        <title>SharkHacks3</title>
    </head>
    <body>
        <h1>SharkHacks3</h1>

        <div class="game_stats_container">
            <h1>Score: <span id="score">0</span></h1>
            <h1>Hearts: <span id="hearts">10</span></h1>
        </div>

        <div class="game_container" onclick="hearts_used()">

            <img src="static/images/morningshark.png" class="shark" onclick="shark_clicked()" draggable="false" unselectable="on"/>

        </div>




         
    </body>


    
      <script src="static/javascript/game.js"></script>


    
</html>