<!DOCTYPE html>
<html>
    <head>
      <head>


        <!-- Adds the Sniglet font -->
        <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Sniglet" />


            <meta name="viewport" content="width=device-width, initial-scale=1">


            <link rel="stylesheet" href='/static/css/start.css' />
      </head>
        <title>SharkHacks3</title>
    </head>
    <body>
        <h1>SharkHacks3</h1>

        <div class="menu_container">
            <a href="/game" class = start_button>Start</a>
        

            <div class = "instruction">Instuctions: Click on Sharks that jump out of the water to make them join a cult together</div>
            <div class = "shark_fact">Random shark fact: Random shark fact: The whaleshark is not part whale </div>
            <div></div>
        </div>
         
    </body>


    



    
</html>