<!DOCTYPE html>
<html>
    <head>
      <head>
        

        <link rel="icon" href="static/images/logo.png">

        <!-- Adds the Sniglet font -->
        <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Sniglet" />


            <meta name="viewport" content="width=device-width, initial-scale=1">


            <link rel="stylesheet" href='/static/css/start.css' />
      </head>
        <title>Shark Cult</title>
    </head>
    <body>
        
        
        <!--<div class = "text_triangle"><img src = static/images/></div> -->
        <div id="menu_container" class="menu_container">

            <h1 class="title">Shark Cult</h1> 

            <a href="/game" class="start_button">Start</a>
           

            <div class="info_container">

                <div class="leaderboard">
                    <h class = "leaderboard_txt">Leaderboard:</h>
                    </br>
                    <ol>
                    {% for player in leaderboard_data %}
                        <li class = leaderboard_info>{{ player.nickname }}: {{ player.score }}</li>
                    {% endfor %}
                    </ol>
                </div>

                <div class="instruction">Instuctions: Click on Sharks that jump out of the water to tame them and join a cult together!</div>
                <div class="shark_fact" id="fact"></div>
            </div>

            <div class="shark_image_container"><img class="shark_image" src="static/images/blahaj.png"></div>     
            
            <div class="waterback"></div>
        </div>
    </body>

    <script src="static/javascript/start.js"></script>
</html>